.site-header {
  text-align: left;
  background-color: var(--header-bg-color);
  color: var(--text-color-light);
  display: flex;
  justify-content: space-between;
}

.header-btn-group {
  align-self: center;
}

.pure-menu-link {
  color: var(--text-color-light);
}

.pure-menu-link:hover {
  color: var(--text-color-light);
  background-color: var(--header-bg-color-light);
}

.header-text {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 1rem;
}

.main {
  top: 100px;
  position: relative; /* necessary for main content because of pure-menu-fixed class on header */
  min-height: 80vh;
  margin: 1rem;
}
